<div class="z-[100] w-full h-10 default-p-x sticky top-0 bg-default-primary text-default-bg">
    <div class="w-full h-full flex flex-row justify-between items-center">
        <p class="text-base font-sans font-bold text-default-bg">Tailwind Presentation</p>
    </div>
</div>