<div class="flex justify-between z-[100] w-full h-10 default-p-x sticky top-0 bg-default-primary text-default-bg">
    <div class="w-full h-full flex flex-row justify-between items-center">
        <p class="text-base font-sans font-bold text-default-bg">Tailwind Presentation</p>
    </div>
    <div class="flex gap-2">
        <a href="#title-page" class="w-4 h-4 rounded-full bg-default-bg"></a>
        <a href="#history" class="w-4 h-4 rounded-full bg-default-bg"></a>
        <a href="#tailwind" class="w-4 h-4 rounded-full bg-default-bg"></a>
        <a href="#benefits" class="w-4 h-4 rounded-full bg-default-bg"></a>
        <a href="#customization" class="w-4 h-4 rounded-full bg-default-bg"></a>
        <a href="#versus" class="w-4 h-4 rounded-full bg-default-bg"></a>
        <a href="#integration" class="w-4 h-4 rounded-full bg-default-bg"></a>
    </div>
</div>