@inject IJSRuntime JSRuntime

<div class="z-[100] flex items-center justify-center gap-4 flex-wrap z-100">
    <button class="shadow-default-primary shadow-lg hover:scale-125 duration-200 p-1 grid grid-cols-2 grid-rows-2 h-16 w-16 bg-white col-span-1 row-span-1" @onclick=@(() => SetTheme("default"))>
        <div class="bg-white w-full h-full"></div>
        <div class="bg-black w-full h-full"></div>
        <div class="bg-[#5f42df] w-full h-full"></div>
        <div class="bg-[#8b73f7] w-full h-full"></div>
    </button>
    <button class="shadow-default-primary shadow-lg  hover:scale-125 duration-200 p-1 grid grid-cols-2 grid-rows-2 h-16 w-16 bg-white col-span-1 row-span-1" @onclick=@(() => SetTheme("theme1"))>
        <div class="bg-white w-full h-full"></div>
        <div class="bg-black w-full h-full"></div>
        <div class="bg-[#5f42df] w-full h-full"></div>
        <div class="bg-[#8b73f7] w-full h-full"></div>
    </button>
    <button class="shadow-default-primary shadow-lg hover:scale-125 duration-200 p-1 grid grid-cols-2 grid-rows-2 h-16 w-16 bg-white col-span-1 row-span-1" @onclick=@(() => SetTheme("theme2"))>
        <div class="bg-white w-full h-full"></div>
        <div class="bg-black w-full h-full"></div>
        <div class="bg-[#5f42df] w-full h-full"></div>
        <div class="bg-[#8b73f7] w-full h-full"></div>
    </button>
    <button class="shadow-default-primary shadow-lg hover:scale-125 duration-200 p-1 grid grid-cols-2 grid-rows-2 h-16 w-16 bg-white col-span-1 row-span-1" @onclick=@(() => SetTheme("theme3"))>
        <div class="bg-white w-full h-full"></div>
        <div class="bg-black w-full h-full"></div>
        <div class="bg-[#5f42df] w-full h-full"></div>
        <div class="bg-[#8b73f7] w-full h-full"></div>
    </button>
</div>

@code {
    private async Task ChangeTheme(ChangeEventArgs e)
    {
        var themeName = e.Value?.ToString() ?? "default";
        await SetTheme(themeName);
    }

    private async Task SetTheme(string themeName)
    {
        await JSRuntime.InvokeVoidAsync("applyTheme", themeName);
    }
}
