@page "/"

<PageTitle>Home</PageTitle>

<Slide Title="title-page" Class="relative flex items-center justify-center text-default-primary">
    <div class="relative w-full h-auto default-p-x flex flex-col sm:flex-row justify-center items-center py-20">
        <div class="mb-10 sm:mb-0 w-full sm:w-1/2 text-center sm:text-left flex flex-col items-center sm:items-start animate__animated animate__fadeInLeft">
            <h1 class="text-5xl sm:text-6xl font-bold mb-6">Elevate Your Web Designs</h1>
            <p class="text-2xl mb-4">Master Tailwind CSS for Stunning, Responsive UIs 🕊️</p>
            <p class="text-lg mb-8 max-w-md">
                Join us on a journey to unlock the full potential of Tailwind CSS. Build faster, design better, and create beautiful websites with ease.
            </p>
            <A href="history" class="h-10 p-2 rounded-md flex justify-center items-center text-default-bg bg-default-secondary border-2 border-default-tertiary hover:brightness-125 duration-100 ease-in-out">
                Start the Presentation
            </A>
        </div>
        <div class="w-full sm:w-1/2 flex justify-center animate__animated animate__fadeInRight">
            <img src="/imgs/tailwindcss.svg" alt="Tailwind CSS Logo" class="w-3/4 h-auto filter" />
        </div>
    </div>
    <Whirl />
</Slide>

<History/>

<WhatIsTailwind />

<Benefits />

<Customization />

<Versus />

<Integration />






